* {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 500px;
    height: 375px;
    border: 1px solid black;
    z-index: 1;
}

.game-el {
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
}

.game-el:hover {
    border: 1px solid black;
}
